<h1>{{ message }} </h1>

<ul>
  <li>
    <a href="/getCars"class="get-posts">get cars</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">
      get one - not functional yet
    </a>
  </li>
</ul>

<button id="delete" class="deleteButton">delete data</button>

<button id="F55" class="getButton">getXHR data</button>
<button id="F56" class="getButton">getXHR data</button>
<button id="R58" class="getButton">getXHR data</button>
